
h1{
    color: #eee;
    background-color: #333333;
    font-size: 28px;
    text-align: center;
    padding: 10px;
    margin: 0px;
    margin-bottom: 20px;
}

h2{
    font-size: 24px;
}

ul a{
    color: #d21034;
}
body{
    background: #efeee7;
    color: #333333;
    margin: 0px;
    padding: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 150%;

}

header{
    background: #333;
}
.container
{
    width: 1024px;
    margin: 0 auto;
}
#main-bio
{
    float: left;
    width: 70%;
}

#contact-info
{
    float: left;
    width: 30%;


}

#bio-image
{
    float: left;
    width: 200px;
    height: 300px;
    margin-right: 20px;
}

#bio-name
{
    position: absolute;
    top: 150px;
    left: 15;
}

#figure
{
    position: relative;
}

.body-header
{
    float: left;
}



.chart1::before {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 300px;
  content: " ";
  
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 70px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #551aaf;
  border: 0;
  border-radius: 10px;
}

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.line2 {
  fill: none;
  stroke-width: 2px;
}
.orange {
  stroke: orange;
}

.green {
  stroke: green;
}

#chart1 {
  position: relative;
}

#chart2 {
position: relative;

}


