body {
	background-color: black;
}

.container {
	align-items: center;
}

.row-centered {  
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
  
  }


.col-centered {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    float: none;
    margin-right: 0 auto; 
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute;
   /* top: 200px; 
   left: 75px;  */
   width: 100%; 
}

#topright {
	left: 475px;
	top: 200px;
}

#botright {
	left: 575px;
	top: 600px;
}

#topleft {
	left: 150px;
	top: 200px;
}

#botleft {
	left: 75px;
	top: 600px;
}

@media  (max-width: 900px) {
	#topright {
	  	left: 150px;
		  top: 540px;
		  color: black;
	}

	#botleft {
		left: 150px;
		top: 1000px;
	}
	#botright {
		left: 150px;
		top: 1450px;
	}
	
  }


h2 span { 
	color: white; 
	font: bold 24px/45px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
	/*
	background: rgb(0, 0, 0); fallback color 
	background: rgba(0, 0, 0, 0.7);
	*/
	padding: 10px; 
 }

.imgs {

	width: 400px;
	height: 400px;
	opacity: .7;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
  
	> .col,
	> [class*="col-"] {
	  padding-right: 0;
	  padding-left: 0;
	}
}







.imgs-u {
	padding-top: 50px;
	width: 200px;

}

.imgs-l {
	padding-top: 250;
	width: 200px;

}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2%;
	align-items: start;
}

.column {
	display: grid;
	justify-items: center;
	grid-template-rows: 1fr;
	grid-auto-rows: 300px;
}


#hairmetal {
    border-radius: 8px;
  }
  
  .chart::before {
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: -1;
    display: block;
    width: 400px;
    height: 300px;
    content: " ";
    
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 0.3;
  }
  
  .tooltip {
    position: absolute;
    width: 135px;
    height: 70px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: #551aaf;
    border: 0;
    border-radius: 10px;
  }
  
  .axis-text {
    font-family: sans-serif;
    font-weight: bold;
    fill: #551aaf;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    fill: #000;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #e75480;
    cursor: pointer;
  }

  .line {
    fill: none;
    stroke-width: 2px;
  }
  
  .orange {
    stroke: orange;
  }
  
  .green {
    stroke: green;
  }
  
  
