


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="zoomwall.css" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="zoomwall.js"></script>
    <script>
        window.onload = function() {
            zoomwall.create(document.getElementById('zoomwall'), true);
        };
    </script>
    <title>Document</title>

</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2B2F3C">
    <!--<a class="navbar-brand" href="#">nwornson</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="../../../index.html">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="../MPLS_DESTRUCTION/index.html">MPLS Destruction</a>
        <a class="nav-item nav-link" href="../MPLS_ART/index.html">MPLS Art</a>
        <a class="nav-item nav-link" href="../STP_DESTRUCTION/index.html">STP Destruction</a>
        <a class="nav-item nav-link mr-auto" href="../STP_ART/index.html">STP Art</a>
      </div>
    </div>
  </nav>
<body>
    
    <div id="zoomwall" class="zoomwall">
      <img src="Images\STP_DESTRUCTION\STP_DESTRUCTION1.jpg" data-highres="Images\STP_DESTRUCTION\STP_DESTRUCTION1.jpg" /> 
      <img src="Images\STP_DESTRUCTION\STP_DESTRUCTION2.jpg" data-highres="Images\STP_DESTRUCTION\STP_DESTRUCTION2.jpg" /> 
      <img src="Images\STP_DESTRUCTION\STP_DESTRUCTION3.jpg" data-highres="Images\STP_DESTRUCTION\STP_DESTRUCTION3.jpg" /> 
      <img src="Images\STP_DESTRUCTION\STP_DESTRUCTION4.jpg" data-highres="Images\STP_DESTRUCTION\STP_DESTRUCTION4.jpg" /> 
      <img src="Images\STP_DESTRUCTION\STP_DESTRUCTION5.jpg" data-highres="Images\STP_DESTRUCTION\STP_DESTRUCTION5.jpg" /> 
      <img src="Images\STP_DESTRUCTION\STP_DESTRUCTION6.jpg" data-highres="Images\STP_DESTRUCTION\STP_DESTRUCTION6.jpg" /> 
      <img src="Images\STP_DESTRUCTION\STP_DESTRUCTION7.jpg" data-highres="Images\STP_DESTRUCTION\STP_DESTRUCTION7.jpg" /> 
      <img src="Images\STP_DESTRUCTION\STP_DESTRUCTION8.jpg" data-highres="Images\STP_DESTRUCTION\STP_DESTRUCTION8.jpg" /> 

        
        
        
        

    </div>
    

    <script type="text/javascript" src="zoomwall.js"></script>
</body>
</html>